<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>list of customers</ion-title><ion-button style="float:right" name="deleteall" (click)="deleteAllCustomer()">
      <ion-icon name="trash"></ion-icon> </ion-button>    
  </ion-toolbar>
</ion-header>
<ion-content style="width:90%">
 <ion-card *ngFor='let customer of list' >
    <ion-icon name="person"></ion-icon>
    
    {{customer.name}}
    <ion-button style="float:right" name="deletehere" (click)="deleteCustomer(customer)">
      <ion-icon name="trash"></ion-icon> </ion-button>    
<hr>
    <ion-icon name="mail"></ion-icon> {{customer.email}}<br>
    <hr>
    <ion-icon name="phone-portrait"></ion-icon> {{customer.phone}}<br>
    <hr>
    <ion-icon name="pin"></ion-icon>
           {{customer.address}}
           <br><br>
    <ion-button style="text-align:center" name="edit" (click)="onEdit(customer)" >
              <ion-icon name="create"></ion-icon>
            </ion-button>    
  </ion-card>
   
      
</ion-content>